# Postgres Database Connection String
# Format: postgresql://<username>:<password>@<host>:<port>/<db_name>
DATABASE_URL=postgresql://postgres:Fasmina1209@localhost:5000/study_platform;

# App Secrets
SECRET_KEY=change-this-secret-in-production
